<!DOCTYPE html>
<html data-ng-app="">
<head>
    <meta charset="UTF-8">
    <title>Using AngularJS Directives and Data Binding</title>


</head>
<body data-ng-init= "superheros=[{name:'Batman',city:'Gotham'}, {name:'Superman', city:'Metropolis'}, {name:'Arrow', city:'Star City'}, {name:'Wonder woman',city:'Amazonas'}, {name:'Black Canary', city:'Star City'}]">

    Name:
    <br/>
    <input type="text" data-ng-model="name" /> {{ name }}
    <br/>
    <ul>
    	<li ng-repeat= "superhero in superheros | filter:name | orderBy:'city'">
                            {{ superhero.name | uppercase }} - {{ superhero.city | lowercase }}</li>
    </ul>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>

</body>
</html>